# --- Dependencias para la API de FastAPI ---
fastapi
uvicorn[standard]
pydantic
python-dotenv

# --- Dependencias para la App de Streamlit ---
streamlit
pandas
numpy
matplotlib
seaborn
scikit-learn
geopandas
folium
requests
xarray
netcdf4
jupyterlab
meteostat
geopy
plotly
jolib

# --- Parches y Comunes ---
# requests y pandas ya están listados arriba, no los repitas
# Parche para el bug de Python 3.13 en Streamlit Cloud
altair==4.2.2